<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ant_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,226},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,442},{58,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,370},{58,70}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{58,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,154},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,82},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,394},{60,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,270},{58,74}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{58,74}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>ant_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,298},{60,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,88}</string>
            </dict>
            <key>eye_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,131},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>eye_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,131},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>eye_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,131},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>eye_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,131},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>eye_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,494},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>feeler_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,131},{32,17}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,17}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,129},{24,17}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,17}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,129},{20,19}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,129},{18,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,129},{18,17}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{18,17}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,129},{22,17}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{22,17}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,131},{26,19}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>feeler_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{16,19}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{16,19}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>hand_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,395},{104,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{104,62}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,127},{116,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{116,56}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,459},{120,50}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{120,50}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{94,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{94,68}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,98},{86,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{86,68}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,186},{82,68}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>hand_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{78,66}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>love.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,284},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>love_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,346},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>mantis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,330},{98,162}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{98,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,330},{96,162}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{96,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,166},{94,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{94,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,166},{104,162}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{104,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,162}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{112,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{104,162}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{104,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{98,162}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{98,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{104,162}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{104,162}}</string>
                <key>sourceSize</key>
                <string>{120,174}</string>
            </dict>
            <key>mantis_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,494},{46,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,14}}</string>
                <key>sourceSize</key>
                <string>{46,14}</string>
            </dict>
            <key>uang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,409},{100,121}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,121}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,149},{98,123}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,123}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{98,125}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,125}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,284},{98,123}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,123}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,274},{100,119}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,119}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{100,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,330},{100,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,127}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{98,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,127}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,159},{100,123}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,123}}</string>
                <key>sourceSize</key>
                <string>{100,127}</string>
            </dict>
            <key>uang_eye_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,494},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>uang_eye_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,494},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>uang_eye_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,494},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>uang_eye_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,494},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
            <key>uang_eye_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,494},{41,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,14}}</string>
                <key>sourceSize</key>
                <string>{41,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ants.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29962d63622279cacf86ed523e7c9d3$</string>
            <key>textureFileName</key>
            <string>ants.png</string>
        </dict>
    </dict>
</plist>
