<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ant_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{47,61}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{47,61}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>ant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,326},{47,59}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{47,59}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>ant_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,278},{47,61}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{47,61}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>ant_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,326},{45,61}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,61}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>ants4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,84},{80,87}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>ants4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,246},{78,79}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{78,79}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>ants4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{80,87}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>ants4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,166},{78,79}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{78,79}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>mantis_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{64,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{64,126}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
            <key>mantis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{68,126}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
            <key>mantis_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{68,126}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
            <key>mantis_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{68,126}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>insects.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc09a0e45e036b8c7d009c059bceda3$</string>
            <key>textureFileName</key>
            <string>insects.png</string>
        </dict>
    </dict>
</plist>
