<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,766},{133,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,71}}</string>
                <key>sourceSize</key>
                <string>{133,73}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1561},{127,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,67}}</string>
                <key>sourceSize</key>
                <string>{127,67}</string>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,507},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,344},{161,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,61}}</string>
                <key>sourceSize</key>
                <string>{161,61}</string>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,632},{132,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,73}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>column_amber.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,216},{206,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{206,61}}</string>
                <key>sourceSize</key>
                <string>{216,71}</string>
            </dict>
            <key>column_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,344},{196,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{196,61}}</string>
                <key>sourceSize</key>
                <string>{206,71}</string>
            </dict>
            <key>column_dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,279},{205,63}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{205,63}}</string>
                <key>sourceSize</key>
                <string>{215,71}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{212,225}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{212,225}}</string>
                <key>sourceSize</key>
                <string>{216,229}</string>
            </dict>
            <key>panel_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{888,469}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,469}}</string>
                <key>sourceSize</key>
                <string>{890,471}</string>
            </dict>
            <key>panel_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,473},{888,469}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,469}}</string>
                <key>sourceSize</key>
                <string>{890,471}</string>
            </dict>
            <key>panel_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{890,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{890,470}}</string>
                <key>sourceSize</key>
                <string>{890,470}</string>
            </dict>
            <key>panel_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{888,469}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,469}}</string>
                <key>sourceSize</key>
                <string>{890,471}</string>
            </dict>
            <key>skillslots.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,797},{398,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{398,176}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,901},{658,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{658,84}}</string>
                <key>sourceSize</key>
                <string>{660,86}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,105}}</string>
                <key>sourceSize</key>
                <string>{107,109}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,407},{388,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{388,186}}</string>
                <key>sourceSize</key>
                <string>{398,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leftPanel.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:646223c3dba524cc0186d29b183a399f$</string>
            <key>textureFileName</key>
            <string>leftPanel.png</string>
        </dict>
    </dict>
</plist>
